*{
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}

/*FORMULARIO*/

.main {
	padding: 140px 20px;
	/*background: blue;*/
	justify-content: center;
	max-width: 800px;
	width: 90%;
	margin: auto;

}

.main > h1 {
	text-align: center;
	padding: 25px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.main > .formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 35px;
}
.form-label{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	cursor: pointer;
	padding: 5px 0;
}
.form-group-input{
	position: relative;
}
.form-input{
	width: 100%;
	background: #fff;
	border: 2px solid #DCDCDC;
	height: 40px;
	line-height: 40px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.form-input:focus{
	border: 2px solid #a7d8f2;
	outline: none;
	box-shadow: 3px 0px 30px rgba(200, 200, 200, 0.4);
}
.form-input-error {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	display: none;
}
.form-input-error-activo{
	display: block;
}
.form-validate-state{
	position: absolute;
	right: 10px;
	bottom: 12px;
	z-index: 100;
	opacity: 0;
}
.formulario__checkbox{
	margin-right: 10px;
}

.form-group-cg,
.form-group-email,
.form-group-mdp,
.form-message,
.form-group-send-btn{
	grid-column: span 2;
}
.form-message{
	height: 40px;
	line-height: 40px;
	background: #FF9F9F;
	padding: 0 15px 0 15px;
	border-radius: 3px;
	display: none;
}
.form-message-activo{
	display: block;
}
.form-group-send-btn{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-btn{
	height: 40px;
	line-height: 40px;
	width: 20%;
	background: #222f36;
	color: grey;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s ease all;
}
.form-btn:hover{
	box-shadow: 3px 0 30px rgba(200, 200, 200, 1);
	color:#a7d8f2;
}

/*ESTILOS PARA VALIDACION*/

.form-group-correcto .form-validate-state {
	color: #AEFF9F;
	opacity: 1;
}
.form-group-incorrecto .form-label{
	color: #FF9F9F;
}

.form-group-incorrecto .form-validate-state{
	color: #FF9F9F;
	opacity: 1;
}

.form-group-incorrecto .form-input {
	border: 3px solid #FF9F9F;
}



/*MEDIAQUERIES*/